.question {
    &__answers {
        display: flex;
        justify-content: center;
    }

    &__answer {
        padding: 15px 20px;
        margin: 0 20px;
        background-color: transparent;
        border: 1px solid #111111;
        border-radius: 5px;
        transition: background-color 0.5s;

        &:hover:enabled {
            cursor: pointer;
        }

        &--green {
            background-color: green;
        }

        &--red {
            background-color: red;
        }

        &--green-light {
            transition-delay: 0.5s;
            background-color: lightgreen;
        }
    }
}